<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">


    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/spring"/>
        <property name="username" value="root"/>
        <property name="password" value="0715"/>
    </bean>

    <bean name="userDAO" class="com.tage.dao.impl.UserDAOImpl">
        <property name="id" value="1"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean name="userService" class="com.tage.service.UserService">
        <property name="userDAO" ref="userDAO"/>
    </bean>


</beans>

